<template>
    <lightning-card title="First Component" icon-name="custom:custom8">
        <div>
            Name: <input class="txtInput">
            <lightning-button label="greet" onclick={greetUser}>
            </lightning-button>            
        </div>
        <div>
            Hello, {greeting}
        </div>
    </lightning-card>
</template>