<template>
        <div>
                I am LWC!
                Input: <input class="txtInput">
                <lightning-button label="send to aura component" onclick={raiseEvent}>
                </lightning-button>         
            </div>
</template>