<template>
        <lightning-card  title="Calculator" icon-name="standard:formula">

     <div class="slds-m_around_medium"> 
    <lightning-input type="number"
    name="value1"
    label="First Number"
    max-length="10"
    min-length="1"
    onchange={firstNumberChange}
    required>
</lightning-input>
</div>   
<lightning-input type="number"
name="value2"
label="Second Number"
max-length="10"
min-length="1"
onchange={secondNumberChange}
required>
</lightning-input>
<br/>
        <lightning-button-group>
                <lightning-button label="Add" onclick={addNumber}></lightning-button>
                <lightning-button label="Subtract" onclick={subtractNumber}></lightning-button>
                <lightning-button label="Multiply" onclick={multiplyNumber}></lightning-button>
                <lightning-button label="Divide" onclick={divideNumber}></lightning-button>
            </lightning-button-group>
<br/>
<br/>
{finalResult}
</lightning-card>
</template>