<template>
    <lightning-card title={capitalizedGreeting} icon-name="custom:custom14">
        <div class="slds-m-around_medium">
            <p>Hello, {greeting}!</p>
            <p>Today is {currentDate}</p>
            <lightning-input label="Name" value={greeting} onchange={changeHandler}></lightning-input>
        </div>

        <div>
            <div>Name: {name}</div>
            <div>Description: {description}</div>
            <div>Category: {category}</div>
            <lightning-badge label={material}></lightning-badge>
        <lightning-badge label={category}></lightning-badge>
        </div>    
    </lightning-card>
</template>