<template>
  <div  id="sample">
    <div class="myDiagramDiv" id="myDiagramDiv" style="border: solid 1px black; width:100%; height:500px; background: white;" lwc:dom="manual" >
    </div>
  </div>
</template>